<div class="viewer-grain" id="view-container">
</div>

<script>
function getLines(text) {
  const lines = text.split("\n");
  if(lines[0].length == 0) lines.shift();
  if(lines[lines.length-1].length == 0) lines.pop();
  return lines;
}

function getHeader(lines) {
  for(let l of lines) {
    if(l.indexOf("columns:") > -1) {
      let cols = l.split(":")[1].split(" ");
      if(cols[0].length == 0) cols.shift();
      if(cols[cols.length-1].length == 0) cols.pop();
      return cols;
    }
  }
}

function getGrains(lines, header) {
  const grains = [];
  let isData = false;
  const N = lines.length;
  for(let i = 0; i < N; i++) {
    if(isData) {
      const cols = lines[i].split(" ");
      grain = {};
      const N2 = header.length;
      for(let j = 0; j < N2; j++) {
        grain[header[j]] = cols[j]
      }
      grains.push(grain);
    }
    if(lines[i].indexOf("---") > -1 && i > 0) {
      isData = true;
    }    
  }
  return grains;
}

function transform(x, src, dest) {
  const xmin = src[0];
  const xmax = src[1];
  const XMIN = dest[0];
  const XMAX = dest[1];
  
  let X = (x - xmin) / (xmax - xmin);
  X *= (XMAX - XMIN);
  X += XMIN;
  return X;
}

function drawGrainsOnCanvas(grains, can) {
  const XMIN = 0;
  const XMAX = parseInt(can.width);
  const YMIN = parseInt(can.height);
  const YMAX = 0;
  
  const xmin = 0;
  const xmax = 4;
  const ymin = 0;
  const ymax = 4;
  
  const ctx = can.getContext("2d");
  for(let g of grains) {
    const x = parseFloat(g["x"]);
    const y = parseFloat(g["y"]);
    const d = parseFloat(g["d"]);
    const fillColor = g["fill"];
    const strokeColor = g["stroke"];
    
    const X = transform(x, [xmin, xmax], [XMIN, XMAX]);
    const Y = transform(y, [ymin, ymax], [YMIN, YMAX]);
    const X2 = transform(x + 0.5*d, [xmin, xmax], [XMIN, XMAX]);
    const R = X2 - X;
    
    ctx.fillStyle = fillColor;
    ctx.beginPath()
    ctx.arc(X, Y, R, 0, 2*Math.PI);
    ctx.fill();
    
    ctx.lineWidth = "1";
    ctx.strokeStyle = strokeColor;
    ctx.beginPath()
    ctx.arc(X, Y, R, 0, 2*Math.PI);
    ctx.stroke();
  }
}
</script>

<script>
const div = document.getElementById("view-container");
with(div.style) {
  width = "200px";
  height = "200px";
  display = "block";
  border = "1px solid #ccc";
  background = "#fafafa";
  marginTop = "0.25em";
}
const can = document.createElement("canvas");
with(can) {
  width = "200";
  height = "200";
  with(style) {
    width = "200px";
    height = "200px";
 }
}
div.appendChild(can);

const lines = getLines("{{- .Inner -}}");
const header = getHeader(lines);
const grains = getGrains(lines, header);
drawGrainsOnCanvas(grains, can);
</script>
