<script>
function changeLink(str) {
  const el = document.getElementById("link");
  el.innerHTML = "<a href='/butiran/"
    + str
    + "' target='_blank'>"
    + str
    + "</a>";
}
</script>

<style>
select:has(option:disabled:checked[hidden]) {
  color: gray;
}

select option {
  color: black;
}
</style>

<select onchange="changeLink(this.value)">
  <option class="placeholder" selected disabled hidden>Select note</option>
  {{ range split .Inner "\n" }}
    {{- $line := trim . " \r" -}}
    {{- if ne $line "" -}}
      {{- $cols := split $line " | " -}}
      {{ $url := index $cols 0 }}
      {{ $title := index $cols 1 }}
      <option value="{{ $url }}">{{ $title }}</option>
    {{ end }}
  {{ end }}
</select> {{ .Get 0 | default "" }} <span id="link"><a href="/butiran/">99z99</a></span>
